.about {
  padding: 40px 10px;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    p {
      font-size: 18px;
      color: #ff6f00;
      line-height: normal;
      @media (max-width: 360px) {
      }
    }
  }
}
